---
title: Large
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include 'partials/_product.html' %}
	{% include 'partials/_form-multiple.html' %}
	<div class="content">
		<div class="content__content">
			<h2 class="title-md content__title">Lorem ipsum dolo.</h2>
			<div class="content__description">
				<p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer.</p>
			</div>
		</div>
		<div class="content__section">
			{% include 'partials/_cards.html' %}
		</div>
		<div class="content__section content__cta">
			{% include 'partials/_cta.html' %}
		</div>
	</div>

{% endblock %}
