<!-- begin form -->
<div class="form form_multiple">
	<form action="/" class="form__container">
		<div class="form__title">GET DEISGN AID</div>
		<div class="form__body">
			<div class="form__fields">
				{% for item in [
					{
						classList: 'form__field_half',
						label: 'First',
						id: 'first'
					},
					{
						classList: 'form__field_half',
						label: 'Last',
						id: 'last'
					},
					{
						classList: 'form__field_half',
						label: 'Work Email',
						id: 'work-email'
					},
					{
						classList: 'form__field_half',
						label: 'Phone (Optional)',
						id: 'phone'
					},
					{
						classList: 'form__field_half',
						label: 'Company Name',
						id: 'company-name'
					},
					{
						classList: 'form__field_half',
						label: 'Job Function ',
						id: 'job-function'
					},
					{
						label: 'Address 1 ',
						id: 'address-1'
					},
					{
						classList: 'form__field_half',
						label: 'Address 2 (Optional)',
						id: 'address-2'
					},
					{
						classList: 'form__field_half',
						label: 'City',
						id: 'city'
					},
					{
						classList: 'form__field_half',
						fields: [
							{
								classList: 'form__field_half',
								label: 'State',
								id: 'state',
								select: 'State'
							},
							{
								classList: 'form__field_half',
								label: 'Zip',
								id: 'zip'
							}
						]
					},
					{
						classList: 'form__field_half',
						label: 'Select a Country',
						id: 'select-a-country',
						select: 'Country'
					}
				] %}
					<div class="form__field {{item.classList}}">
						{% if item.fields %}
							<div class="form__fields">
								{% for item in item.fields %}
									<div class="form__field {{item.classList}}">
										<label for="{{item.id}}" class="form__label">{{item.label}}</label>
										<div class="form__control">
											{% if item.select %}
												<select id="{{item.id}}" class="select form__select">
													{% for option in range(0,10) %}
														<option value="{{loop.index}}">{{item.select}} {{loop.index}}</option>
													{% endfor %}
												</select>
											{% else %}
												<input type="text" class="input form__input" id="{{item.id}}">
											{% endif %}
										</div>
									</div>
								{% endfor %}
							</div>
						{% else %}
							<label for="{{item.id}}" class="form__label">{{item.label}}</label>
							<div class="form__control">
								{% if item.select %}
									<select id="{{item.id}}" class="select form__select">
										{% for option in range(0,10) %}
											<option value="{{loop.index}}">{{item.select}} {{loop.index}}</option>
										{% endfor %}
									</select>
								{% else %}
									<input type="text" class="input form__input" id="{{item.id}}">
								{% endif %}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="form__footer">
				<button type="submit" class="btn btn_orange btn_large btn_wide form__btn">CTA</button>
			</div>
		</div>
	</form>
</div>
<!-- end form -->