<!-- begin header -->
<header class="header">
	<div class="header__inner">
		<a href="#" class="header__logo">
			<img src="img/logo.svg" alt="Protolabs">
		</a>
		<a href="#" class="btn btn_small btn_orange header__btn">Upload A Part</a>
		<nav class="nav">
			<ul class="nav__list">
				{% for item in [ 'Website', 'Resources', 'About' ] %}
					<li class="nav__item">
						<a href="#" class="nav__link">{{item}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
<!-- end header -->