<!-- begin hero -->
<div class="hero hero_medium" style="background-image: url(img/hero-medium.jpg);">
	<div class="hero__inner">
		<a href="#" class="hero__logo">
			<img src="img/logo-white.svg" alt="Protolabs">
		</a>
		<div class="alert hero__alert">
			<span class="alert__tag">new</span>
			<span class="alert__text">ON DEMAND WEBINAR</span>
		</div>
		<div class="hero__content">
			<h1 class="title-lg hero__subtitle">A Deep Dive into Metal 3D Printing</h1>
			<div class="hero__description">
				<p class="visible-desktop">Metal 3D printing is ideal when trying to achieve complex geometries, lightweight metal parts, or reduced components. This presentation compares flawed versus optimized geometry, discusses part design considerations, and explores secondary operations options to keep in mind when designing for DMLS.</p>
				<p class="visible-mobile">Metal 3D printing is ideal when trying to achieve complex geometries, lightweight metal parts, or reduced components.</p>
			</div>
		</div>
	</div>
</div>
<!-- end hero -->
