<!-- begin hero -->
<div class="hero hero_small" style="background-image: url(img/hero-small.jpg);">
	<div class="hero__inner hero__center">
		<a href="#" class="hero__logo visible-mobile">
			<img src="img/logo-white.svg" alt="Protolabs">
		</a>
		<h2 class="title-lg hero__title">Thank you!</h2>
		<div class="hero__description">
			<p>Please allow six to eight weeks for delivery.</p>
			<p>Are you looking to download something else?</p>
		</div>
		<a href="#" class="btn btn_white btn_medium hero__btn">CTA</a>
	</div>
</div>
<!-- end hero -->