<!-- begin product -->
<div class="product">
	<div class="product__inner">
		<a href="#" class="product__logo">
			<img src="img/logo.svg" alt="Protolabs">
		</a>
		<div class="product__container">
			<div class="product__figure">
				<div class="product__img">
					<img src="img/product.png" alt="Molding Bress">
				</div>
			</div>
			<div class="product__content">
				<h1 class="title-lg product__title">Header Here</h1>
				<div class="product__description visible-desktop">
					<p>“The success of the Black Panther mask not only demonstrates Protolabs’ capabilities but the potential of 3D printing to advance packaging design.”</p>
					<p>-Andrew Phinney <br>Packaging Engineer, PepsiCo</p>
				</div>
				<div class="product__description visible-mobile">
					<p>Creating plastic parts with threads can be complicated but by applying a handful of design elements, you’ll improve part moldability, save valuable development time, and reduce production costs. This month’s tip explores thread size, pitch, radius,  form, material selection,  and other considerations when designing threaded parts for plastic injection molding.</p>
				</div>
				<a href="#" class="btn btn_orange btn_large visible-mobile product__btn">CTA</a>
			</div>
		</div>
	</div>
</div>
<!-- end product -->